---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="leolesego">
  <main>
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@0.9.411/build/spline-viewer.js"
    ></script>
    <div class="spline-viewer">
      <spline-viewer
        url="https://prod.spline.design/wqsnyCIjuNRg-bMU/scene.splinecode"
      ></spline-viewer>
    </div>
    <h1>leolesego.</h1>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: end; /* This centers children vertically */
    justify-content: end; /* This centers children horizontally */
    height: 100vh;
    background: black;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .spline-viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: white;
  }

  .spline-viewer canvas {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: end;
    margin-right: 2rem;
    z-index: 1;
  }
</style>
